[user]
	name = Ayesha Siddiqa Khan
	email = 179512742+Ayesha-Siddiqa-khan@users.noreply.github.com
[safe]
	directory = F:/Mobile apps projects/ishtiaq
	directory = F:/Mobile apps projects/Badana/ishtiaq
	directory = F:/Mobile apps projects/Badana/admin
	directory = F:/Mobile apps projects/Badana/mobile
	directory = F:\\devops practise\\k8s\\boutique e-commerce\\boutique-ecommerce\\actions-runner\\_work\\Devops\\Devops
